<% provide(:title, @user.name) %>

<h1>This will be the profile page of the user</h1>
<%= @user.name %>, <%= @user.email %>
<p> will come here when we redirect_to @user</p>

<%= render 'posts/new_post' %>